.ul{

    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content:center;
    flex-wrap: wrap;
}

.li{
    padding:10px;
    width: 250px;
    max-width:250px;
    max-height: 500px;
}

.card{
    width: 100%;
    height:100%;
    box-shadow: 5px 5px 10px #ccc ;
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-top: 30px;
    background-color: rgb(226, 241, 206);
}
.card >img {
    width:100%;
    height:50%;
}
.card article{
    padding: 5px;
}
.card h2,p,article{
    margin-top: 1px;
}
.card h2 {
    font-size:14px;
}
.card p{
    padding:3px;
}

.wc {
    width:50%;
    margin:auto;
    text-align:center
}
